* { box-sizing: border-box; }
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background: #fff;
}

/* Top bar */
.topbar {
  height: 56px;
  background: #222;
  display: flex;
  align-items: center;
}
.topbar-inner {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
  color: #bfbfbf;
  font-size: 18px;
}

/* Center layout */
.page {
  max-width: 900px;
  margin: 0 auto;
  padding: 48px 20px 80px;
}
.title {
  font-weight: 500;
  margin: 10px 0 22px;
  letter-spacing: 0.2px;
}

/* Composer */
.composer {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#taskInput {
  width: min(625px, 90%);
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0 12px;
  outline: none;
}
#taskInput:focus { border-color: #cfcfcf; }

#addBtn {
  height: 38px;
  min-width: 57px;
  border: 1px solid #2b6cb0;
  background: #2b6cb0;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}
#addBtn:hover { filter: brightness(0.95); }

/* Card + list */
.card {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 0;
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item {
  display: grid;
  grid-template-columns: 48px 1fr 75px;
  align-items: center;
  min-height: 68px;
  border-top: 1px solid #eee;
  padding: 0 10px;
}
.item:first-child { border-top: none; }

.check {
  display: flex;
  align-items: center;
  justify-content: center;
}
.check input{
    width: 16px;
    height: 16px;
    cursor: pointer;
}


.text {
  padding: 0 8px;
  font-size: 15px;
  color: #666;
  padding-left: 15px;
}
.text.done {
  text-decoration: line-through;
  color: #666;
}

.trash {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trash button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  color: #e53935; /* красная корзина */
  padding: 10px;
}
.trash button.muted{
  opacity: 0.35;
}

.trash button.muted:hover{
  opacity: 1;
}


/* Mobile */
@media (max-width: 520px) {
  .composer { flex-direction: column; }
  #taskInput { width: 100%; }
  #addBtn { width: 100%; }
}