<div class="card">
  <div class="imgWrap" (click)="openKaspi()">
  <img class="mainImg" [src]="selectedImage" [alt]="product.name" />
</div>

<h3 class="name" (click)="openKaspi()">{{ product.name }}</h3>

  <h3 class="name" (click)="openKaspi()">{{ product.name }}</h3>
  <p class="desc">{{ product.description }}</p>

  <div class="meta">
    <span class="price">{{ product.price | number }} ₸</span>

    <span class="rating">
      <span *ngFor="let s of stars()">{{ s ? '★' : '☆' }}</span>
      <span class="ratingNum">{{ product.rating }}</span>
    </span>
  </div>

  <div class="actions">
    <button class="btn wa" (click)="shareWhatsApp()">WhatsApp</button>
    <button class="btn tg" (click)="shareTelegram()">Telegram</button>
      
  </div>
  <div>
<button class="btn delete" type="button" (click)="delete(); $event.stopPropagation()">Delete</button>
<button class="btn like" (click)="like(); $event.stopPropagation()">
  <span>{{ liked ? '❤️' : '🤍' }}</span> {{ product.likes }}
</button>
  </div>
</div>